.container_menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
}

.container_menu > * {
  font-size: 20px;
}

.menu__button {
  color: #10306b;
  text-decoration: none;
  padding: 6px 0;
}

.menu__button:hover {
  color: #24498f;
}

.menu__title {
}
