.footer {
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e9e9e9;
  box-shadow: 0px 0px 2px 1px #1a1f2726;
}

.footer_text {
  color: #000;
}

.footer_text__link, .footer_text__link:visited {
  text-decoration: none;
  color: #10306b;
  transition: all 300ms ease-in-out;
}

.footer_text__link:hover {
  color: #24498f;
}

.footer_icons {

}

.footer_icons__link {
  padding: 12px;
  margin: 6px;
}

.footer_icons__image {
  width: 40px;
  height: 40px;
}
