.container__options {
  width: 100%;
}

.add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
  background-color: #78db3e;
  color: #000;
  border-radius: 2px;
  text-decoration: none;
}

.container__table {
  width: 100%;
}

.container__table th,
.container__table td {
  border: 1px solid #000;
  padding: 12px 32px;
  word-break: keep-all;
}

.container__table th {
  background-color: #10306b;
  color: #fff;
}

.container__table td {
  text-align: center;
}

.container__table td.exercises {
  word-break: break-all;
}

.edit_button,
.delete_button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 2px;
  margin: 6px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.add_button,
.edit_button,
.delete_button {
  box-shadow: 0px 0px 2px 1px #1b202726;
  transition: all 200ms ease-in-out;
}

.add_button:hover,
.edit_button:hover,
.delete_button:hover {
  box-shadow: 0px 0px 2px 1px #1b20274d;
}

.edit_button {
  background-color: #dbd93e;
}

.delete_button {
  background-color: #e45353;
}
