mixin form(submitText, id, date, exercises)
  - id = id || ""
  form(action="/api/workout/" + id method="POST").container__form
    div.form__group
      input(name="id" id="id" type="hidden" value=id)
    div.form__group
      label(for="date").form_label Date
      input(name="date" id="date" type="date" value=date min="2001-01-01" required autofocus).form_input.form_date_input
    div.form__group
      label(for="exercises").form_label Exercises
      textarea(name="exercises" id="exercises" placeholder="Go ahead..." minlength="10" maxlength="3000" required).form_input.form_exercises_input= exercises
    div.form__group
      input(type="submit" value=submitText).form_input.form_submit_input
