mixin table_row(id, date, exercises)
  tr
    td.date= date
    td.exercises= exercises
    td
      a(href="/update-workout?id=" + id data-id=id).edit_button EDIT
      div(data-id=id).delete_button DELETE
