footer.footer
  div.footer_text Pietro Bondioli -
    | !{' '}
    a(href="https://opensource.org/licenses/MIT").footer_text__link Copyright (c) 2021 MIT
  div.footer_icons
    a(href="https://github.com/bondiolipietro").footer_icons__link
      img(src="/public/img/footer/github-black-64px.png" alt="Github").footer_icons__image
    a(href="https://www.linkedin.com/in/pietrobondioli/").footer_icons__link
      img(src="/public/img/footer/linkedin-64px.png" alt="Linkedin").footer_icons__image
