doctype html
html(lang="en")
  head
    title= 'Crud - ExpressJs'
    include includes/head.pug
    link(rel='stylesheet' href='/public/css/pages/home.css' type='text/css')
  body
    include includes/header.pug

    main.main
      div.crud_container
        div.container__options
          a(href="/add-workout").add_button ADD
        table.container__table
          thead
            tr
              th ID
              th Date
              th Exercises
              th Options
          tbody
            if workout_list
              include mixins/table_row.pug
              each workout in workout_list
                +table_row(workout.id, workout.date, workout.exercises)
            else
              tr
                td(colspan="4") No Workout were found

    include includes/footer.pug
    include includes/scripts.pug
