doctype html
html(lang="en")
  head
    title= 'Crud - ExpressJs'
    meta(charset="UTF-8")
    include includes/head.pug
    link(rel='stylesheet' href='/public/css/pages/home.css' type='text/css')
  body
    include includes/header.pug

    main.main
      div.crud_container
        div.container__options
          a(href="/add-user").add_button ADD
        table.container__table
          thead
            tr
              th ID
              th Date
              th Exercises
              th Options
          tbody
            tr
              td ID
              td Date
              td Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
              td
                a(href="/update-user" data-id="1").edit_button EDIT
                a(href="#" data-id="1").delete_button DELETE

    include includes/footer.pug
    include includes/scripts.pug
