@import './base/sanitize.css';
@import './base/config.css';

@import './components/navbar.css';
@import './components/footer.css';
@import './components/crud_container.css';
@import './components/container_menu.css';
